asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.6
idna==3.10
python-http-client==3.3.7
pytz==2025.1
requests==2.32.3
sendgrid==6.11.0
setuptools==75.8.1
sqlparse==0.5.3
starkbank-ecdsa==2.2.0
stripe==11.6.0
typing_extensions==4.12.2
urllib3==2.3.0
